html 
{
    height: 100%;
    background-color: rgb(27, 38, 87);  
}

#content
{
    width: 100%;
    height: 100%;
    margin: auto;
}

#content > *
{
    width: 60%;
    margin: auto;
    display: block;
}

#search
{
    height: 30px;
    text-align: center;
    background-color: blanchedalmond;
    max-width: 93%;
    width: 93%;


}

#random
{
    width: 5%;
    min-width: 35px;
    height: 35px;
    background-image: url(/images/randomIcon.png);
    background-size: 100% 100%;
    margin-left: 3px;
    background-color: blanchedalmond;
}

h1 
{
    text-align: center;
    color: beige;
}

#results 
{   
    clear: both;
    list-style-type: none;
}

#searchRand
{
    display: flex;
}

a
{
    color: beige;
}

